<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>{{.Title}}</title>
    <link href="assets/tailwind.css" rel="stylesheet">
</head>

<body>
    <header class="shadow p-2 py-4 mb-6">
        <h1 class="text-3xl">🏠 Dare to Refi.com | A Home Refinance Calculator</h1>
    </header>
    {{ yield }}

    <div id="root"></div>

    <footer>
        {{ render "partials/footer.html" }}
    </footer>

    <script src="/build/index.bundle.js"></script>
</body>

</html>