<div class="w-full max-w-sm mx-auto">
    <h1 class="text-2xl text-center">You are <span class="text-3xl text-indigo-700">5</span> pieces of data away from knowing whether to refinance your home.</h1>

</div>

<div class="w-full max-w-xs mx-auto">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/results" method="POST">
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="monthly_payment">
          Monthly Payment
        </label>
        <p class="text-xs italic">Don't include insurance, taxes, etc in this number.</p>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="monthly_payment" id="monthly_payment" type="text" placeholder="e.g. $933">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="current_amount">
          Current Loan Amount
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="current_amount" id="current_amount" type="text" placeholder="e.g. $120,000">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="current_rate">
          Current Rate
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="current_rate" id="current_rate" type="text" placeholder="e.g. 4.125%">
      </div>
      <!-- <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="current_term">
          Current Remaining Years
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="current_term" id="current_term" type="text" placeholder="e.g. 23">
      </div> -->

      <hr class="py-4">

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="refi_rate">
          Refinanced Rate
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="refi_rate" id="refi_rate" type="text" placeholder="e.g. 3.15%">
      </div>
      <!-- <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="refi_term">
          Refinanced Term
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="refi_term" id="refi_term" type="text" placeholder="e.g. 15">
      </div> -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="closing_costs">
          Closing Costs to Refinance
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="closing_costs" id="closing_costs" type="text" placeholder="e.g. $2000">
      </div>

      <div class="flex items-center justify-between pt-3">
        <input type="submit" class="mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            value="Calculate">
      </div>
    </form>
  </div>
